topsection{
    padding: 15px;
}
section{
    display: inline;
    align-items: center;
    justify-content: stretch;
    padding: 25px;
}
#title1{
    color: #EC4067;
}
a{
    font-weight: 500;
}
.rightimg{
    overflow-wrap: auto;
    display: inline;
    padding: 25px;
}
ul{
    display: inline-flex;
}

li{
    list-style: none;
    padding: 2px 40px 0px;
}
.lefttxt{
    max-width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 200px;
    align-items: flex-start;
}

.lefttxt h1{
    font-weight: 300px;
    color: #EC4067;
}
.lefttxt h2{
    font-weight: 900;
}
.lefttxt p{
    font-size: 30;
    font: weight 200px; ;
}
.Enrollbutton{
    height: 50px;
    margin-right: 15px;
    width: 200px;
    background-color: #EC4067;
    font-size: 30px;
    border: none;
    color: white;
    border-radius: 5px;
    

}


*{
    font-family: "nunito";
    padding: 0px;
    margin: 0px;
}

