body {
    background-color: aliceblue;
}
.title {
    color: red;
}
button {
    background-color: #EC4067;
    font-family: "nunito";
    color: white;
    border: round;
    size: 100px;
}
#white {
 background-color: white;
 color: #EC4067;
}
